body { 
    font-family: 'Shadows Into Light', cursive;
   max-width: 900px;
   margin: 0 auto;
   background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-acuarela-violeta_1083-172.jpg?1&w=740&t=st=1663697173~exp=1663697773~hmac=914decc6063f2c1c43285fb2c36a5247783b3bc608c4a9f9244c318b0c3d3eac);
}
    
.barras {
    background-color: rgb(255, 255, 255) !important;
}

h1{text-align: center;}
h2{text-align: center;}